html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#nav-bar {
    display: flex;
    border-bottom: 1px solid black;
}

#pitch, #features {
    max-width: 400px;
    margin: 0 auto;
}

#nav-bar a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

#header-img {
    width: 100%;
}

#email {
    max-width: 400px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

#submit {
    display: block;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid black;
    background-color: white;
}

#video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* @media (min-width: 720px) {
    #header-img {
        width: 50%;
        height: 50%;
    }
} */