html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
}

#nav-bar a {
    text-decoration: none;
    padding: 10px;
}

#header-img {
    width: 100%;
    border: 1px solid black;
}

@media (min-width: 720px) {
    #header-img {
        width: 50%;
        height: 50%;
    }
}